.homePage{
    background-color: w;
    padding: 5%;
    
}
.imghome{
    width: 8cm;
    height: 8cm;
    ;
    border: solid white;
    
}
.titleEtP h1 {
    color: blanchedalmond;
}
.titleEtP h4 {
    color: blanchedalmond;
}